

:root {
    --colorPrimary: #1b1d21;
    --colorPrimaryDark: #212329;
    --colorAccent: #ff9e00;
    --cdrk0: #15161c;
    --cdrk1: #181a21;
    --cdrk2: #1d1e27;
    --cdrk3: #1e1f29;
    --cdrkbg: #282a36;
    --cdrksel: #44475a;
}

*, *::before, *::after {
    margin: 0; padding: 0; box-sizing: border-box;
}

body {
    background: var(--cdrkbg);
    min-height: 100vh;
    color: #cecece;
}

appbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--cdrk0);
    height: clamp(70px, 80px, 90px);
    padding: 1ch 5ch;
    box-shadow: #00000050 5px 5px 5px;
}

scaffold {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--cdrkbg);
}

main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 990px;
    background-color: var(--cdrk1);
}

box {
    display: block;
    margin: 2.5ch 0;
    padding: 4ch;
    width: 100%;
    max-width: 814px;
    background: var(--cdrk2);
}

hd {
    display: block;
}

h2, h1 { color: #ff6a28 }
.h1 { color: #fff; }

panel {
    display: block;
}

sub-panel {
    display: grid;
    place-items: center;
    background: var(--cdrksel);
    width: 100%;
    margin: 3ch 0;
    padding: 2ch;
}

.img {
    width: 100%;
    max-width: 750px;
}

panel-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 2ch;
    background: var(--cdrksel);
}

pb1, pb2 {
    width: 50%;
    display: grid;
    place-items: center;
}






.flex-h {
    display: flex;
    justify-content: center;
    align-items: center;
}

mrg { margin-right: 1ch; }
li { margin-block-start: 1.5ch; margin-block-end: 0;}
.li-n { list-style: decimal; }

